{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h1 style="text-align: center"> Change Your Password </h1>
<form method="post">
  <div class="form-group">
      {% csrf_token %}
    <label > New Password: </label>
    <input type="password" class="form-control" placeholder="Enter New Password" name="new_password">
  </div>
    <input class="btn btn-outline-success btn-lg btn-block" type="submit" value="Change Password">
</form>

{% if msg|length != 0 %}
<div class="alert alert-success">
  {{ msg }}
</div>
{% endif %}

{% endblock %}