{% extends 'base.html' %}

{% block content %}
<p> Hello,  {{ user.username }} !</p>
{{ t }}

{% for parts in items %}

  <h1>{{ parts.0.ItemType }}</h1>

  <div class="card-deck">

      {% for part in parts %}
        <div class="card " style="width: 18rem;">

          <img class="card-img-top" src="../static/images/item_{{ part.pk }}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ part.name }}</h5>
            <p class="card-text">{{ part.description }}</p>
              <div style="position: relative; bottom: 0; margin-bottom: 10px">

                <p><strong>Price: </strong> {{ part.price }}</p>
                <a  href="{% url 'cart' part.pk %}" class="btn btn-primary" >Add to Cart</a>

              </div>
          </div>
        </div>
      {% endfor %}

  </div>
{% endfor %}

{% endblock %}
