{% extends 'base.html' %}

{% block content %}
<br>
<h1 style="text-align:left; padding-left: 5%;">Hello,  {{ user.username }}!</h1>
<br>
<div class="row">
{% for parts in items %}


      {% for part in parts %}
        <div class="card col-12 col-xl-3 col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">

          <img class="card-img-top" src="../static/images/item_{{ part.pk }}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ part.name }}</h5>
            <p class="card-text">{{ part.description }}</p>
              <div style="position: relative; bottom: 0; margin-bottom: 10px">

                <p><strong>Price: </strong> {{ part.price }}</p>
                <a  href="{% url 'cart' part.pk %}" class="btn btn-primary" >Add to Cart</a>

              </div>
          </div>
        </div>
      {% endfor %}



{% endfor %}

</div>

{% endblock %}
