{% extends 'base.html' %}

{% block content %}
{% if orders|length == 0 %}
<br>
<br>
<h1 style="text-align: center"> You have not placed any orders </h1>
{% else %}
<br>
<h1 style="text-align: center"> Your order history</h1>

{% for order_id, items in orders.items %}

<br>
<br>
<p><strong>Order#:</strong> {{ forloop.counter }}</p>
<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>

  {% for item, value in items.items %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.name }} </td>
      <td>{{ value }}</td>
      <td>{{ item.price }}</td>

    </tr>
  {% endfor %}
  <tr>

      <td></td>
      <td></td>
      <td><strong>Total: </strong></td>
      <td>{{ totals|get_item:order_id }}</td>
    </tr>

  </tbody>

</table>
{% endfor %}
{% endif %}
{% endblock %}