{% extends 'base.html' %}

{% block content %}


{% if cart_items|length == 0 %}
<br>
<br>
<h1 style="text-align: center"> You do have any items in your cart </h1>
{% else %}
<br>
<br>
<h1 style="text-align: center"> Your items :</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
        <th></th>

    </tr>
  </thead>
  <tbody>

  {% for item, value in cart_items.items %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.name }} </td>
      <td>{{ value }}</td>
      <td>{{ item.price }}</td>
        <td> <a  href="{% url 'delete_cart_item' item.pk %}" class="btn btn-outline-danger" >Delete</a>
</td>
    </tr>
  {% endfor %}
  <tr>

      <td></td>
      <td></td>
      <td></td>
      <td><strong>Total: </strong></td>
      <td>{{ request.session.total }}</td>

    </tr>

  </tbody>

</table>
 <a  href="{% url 'submit_order' %}" class="btn btn-outline-success btn-lg btn-block" >Submit Order</a>

{% endif %}
{% endblock %}