{% load static %}

<html>
<title>Assignment 1</title>


<head>

    <link rel='stylesheet' href="{% static 'css/main_page.css' %}">


</head>

<body class="StartPage">

    <div class="HomePage" id='StudentInfo' style="margin-top:100px">

        <p>COMP466 Advanced Technologies for Web-Based Systems</p>
        <p><strong>Student ID: </strong>33*****</p>
        <p><strong>Name: </strong>Danil Redko</p>
        <p><strong>Date Started: </strong>1st of September</p>
        <p><strong>Date Finished: </strong>13th of September </p>
        <p> Hours Spent: 80 hours</p>
        <p><a href="/part1"> Part 1</a></p>
        <p><a href="/part2"> Part 2</a></p>
        <p><a href="computershop/home"> Computer Shop </a></p>
    </div>

</body>
</html>

