{% extends 'base.html' %}

{% block content %}
<img style ="display: block; margin-left:auto; margin-right:auto" src="../static/images/computer_shop.png" class="img-fluid" alt="Responsive image">

<div class="card text-center">
  <div class="card-header">
    <h1 style="padding-top:10px">Welcome to Computer Store!</h1>

  </div>
  <div class="card-body">
    <h2 class="card-title" >Only for users!</h2>
    <h4 class="card-text"> In order to proceed you need to login.
      If you do not have an account you need to sign up by clicking the link at the top.</h4>
  </div>

</div>
{% endblock %}